<div class="container">
    <div class="row">
        <div class="">
            <div class="list-group" id="list">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="username">username</label>
                <input id="username" type="text" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="text">message</label>
                    <textarea id="text" placeholder="message" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
        <button type="submit" id="send-room" class="btn btn-primary ">Отправить</button>
        </div>
    </div>
</div>
<script>
    const roomName = location.pathname.split('/').pop();

    const socket = io.connect('/');

    const boxList       = document.querySelector('#list');
    const inputUsername = document.querySelector('#username');
    const inputText     = document.querySelector('#text');
    const sendRoom       = document.querySelector('#send-room');

    const getTmp = (cmt) => {
        return `
                        <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <small>${cmt.username}</small>
                        <small class="text-muted">${cmt.type}</small>
                    </div>
                    <p class="mb-1">${cmt.text}</p>
                </div>
        `;
    }

    socket.on('comment', (cmt) => {
        const div = getTmp(cmt);
        boxList.insertAdjacentHTML('beforeend', div);
    });

    sendRoom.addEventListener('click', () => {

        socket.emit('comment', {
            username: inputUsername.value,
            text: inputText.value,
        });
    });

</script>